.header-container {
	align-self: flex-start;
}
.banner {
	position: relative;
	height: 0;
	width: 100%;
	padding-top: 46%;
}
.banner-img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.info {
	position: relative;
	top: -8rem;
	width: fit-content;
	background: white;
	border-radius: 0 1rem 0 0;
}
.username {
	margin: 0;
	padding: 0.5rem 1rem;
}
.bio {
	margin: 0;
	font-weight: 500;
	padding: 0.5rem 1rem;
}
.social-info {
	display: flex;
	gap: 3rem;
	padding: 0 1rem;
}
.followers {
	font-weight: 600;
	color: var(--brown-600);
	span {
		color: black;
	}
}
.following {
	font-weight: 600;
	color: var(--brown-600);
	span {
		color: black;
	}
}
.update-profile {
	border: none;
	background-color: transparent;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
	outline: 1px solid var(--sand-400);
	transition: all 0.4s ease-in-out;
	margin-left: 1rem;
	margin-top: 2rem;

	&:hover {
		outline: none;
		background-color: var(--sand-400);
		color: white;
	}
}
.opts-container {
	margin-left: 1rem;
}
.follow-btn {
	border: none;
	transition: all 0.4s ease-in-out;
	padding: 0.5rem 4rem;
	width: fit-content;
	outline: 2px solid var(--sand-400);
	border-radius: 1rem;
	transition: all 0.4s ease-in-out;
	cursor: pointer;

	&:hover {
		outline: transparent;
		background-color: var(--sand-400);
		color: white;
	}
}
